<div class="form-group">
  <label for="tag-free" class="col-sm-2 control-label">Venues</label>
  <div class="col-sm-10">
    {{#if venues}}
      {{#each venues as |tag key|}}
        <div class="checkbox-inline">
          <label>
            <input type="checkbox" value="{{tag}}" name="galleryVenues[]" {{{isChecked tag ../gallery.venues}}}" >
            {{tag}}
          </label>
        </div>
      {{/each}}
    {{/if}}
    <input id="tag-free" type="text" name="galleryVenuesFree" placeholder='Venues' class="form-control" />
    <div class="help">Separate multiple venues with commas.</div>
  </div>
</div>